
// *GLOBAL
/* #region Global */
$app-bg:#201E2F;
$navigation-bg: #1A1A1A;
$font-color: #E5E5E5;
$font-size: .9rem;
$border-color: #202020;
$border-radius: 5px;
$main-gradient: linear-gradient(90deg, rgba(57,106,252,1) 0%, rgba(41,72,255,1) 100%);
/* #endregion Global */
